<div style="width:540px;height:80px;margin:0;overflow:hidden;">
  <iframe seamless width="800px" height="800px" frameborder="0" scrolling="no"
    style="margin-left:-130px;margin-top:-<%= ((((date=Date.today)-(beginning_of_month=date.beginning_of_month)+beginning_of_month.wday)/7).to_i+1)*70+5 %>px;overflow:hidden;"
    src="https://docs.google.com/viewerng/viewer?url=https://www.city.nishitokyo.lg.jp/kurasi/gomi_recycle/gomi-calebder/gomikarenda-pdf.files/higashihushimi<%= Date.today.mon %>gatu010911.pdf&hl=bn&embedded=true">
  </iframe>
</div>
