<table class="table table-borderless mb-0">
  <tbody>
    <tr>
    <% @gomi_calendars.each do |gomi_calendar| %>
      <td>
        <h4>
          <%= gomi_calendar.date.strftime('%Y年%m月%d日') %><br>
          <%= gomi_calendar.content %>
        </h4>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
